<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome page </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

            
<body class="d-flex flex-column min-vh-100"
      style="background-image: url('https://images.unsplash.com/photo-1754516733606-008062751e0f?q=80&w=1170&auto=format&fit=crop');
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             background-attachment: fixed;">


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a3622;">  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutpage' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
        </li>
    </ul>
</div>
  </div>
</nav>


<div class="container text-center flex-grow-1 d-flex justify-content-center align-items-center">

    <div>
      <h3 class="fw-light text-white display-5">
    Django makes it easier to build better web apps
    <br>
    more quickly and with less code.
</h3><br>

<a href="{% url 'mainpage' %}"
   class="btn fw-bold"
   style="
      background-color:#44b78b;
      color:#000;
      width:250px;
      height:55px;
      padding:15px;
      font-size:18px;
   ">
    Get started with Django
</a>
    </div>

</div>



<footer class="text-center text-light py-4 mt-auto"
        style="background-color: #051604e3;">
    <div class="container">
        <p class="mb-2">
    © 2026 Django Web Application | Developed by <strong>Muhammed Jasil</strong>
</p>
    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>